src
docs
.eslintrc.cjs
jest.config.js
tsconfig.json
tslint.json
client
cypress/
serve
.idea/

build
# parcel
.cache/
.rpt2_cache
help

commitlint.config.js
CONTRIBUTING.md
vite.config.ts
.travis.yml
.husky/
.rollup.cache/
.github/
jest.config.ts
rollup.config.js
cypress.config.ts
